<article class="blogPost">
  <div class="blogPost-container">
    <div class="sectionContent">
      <h3>Heading one</h3>
      <div class="sectionContentText">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.
          It has survived not only five
          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <br>
        <p> It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus
          PageMaker including versions
          of
          Lorem Ipsum.
        </p>
      </div>
      <ul>
        <li>#tag1</li>
        <li>#tag2</li>
        <li>#tag3</li>
      </ul>
    </div>
    <aside>
      <div class="postInteraction">
        <button class="thumbsUp class22" type="button"><img></button>
        <span>0</span>
        <button class="thumbsDown" type="button"><img></button>
      </div>
    </aside>
  </div>
</article>
