<div class="Home-container">
  <mat-toolbar class="Home-header">
    <div class="Home-headerText">
      <mat-toolbar-row>
        <h1 class="Home-headerText">Signals Tutorial</h1>
      </mat-toolbar-row>
    </div>
  </mat-toolbar>

  <div class="Home-cards">
    <mat-card class="Home-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Creating Signal from observable</mat-card-title>
          <mat-card-subtitle>Creating a signal from an observable</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content >
        <h2>Here we want to have cards covering all of the scenarios for signals</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>
