<mat-toolbar>
  <button mat-icon-button
          [matMenuTriggerFor]="menu"
          class="example-icon"
          aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Skeleton Loaders</span>

  <span class="example-spacer"></span>

  <button mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>restart_alt</mat-icon>
    <span>
      <a routerLink="/home">Home</a>
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon>restart_alt</mat-icon>
    <span>
      <a routerLink="/headers">Headers</a>
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon>restart_alt</mat-icon>
    <span>
      <a routerLink="/paragraphs">Paragraphs</a>
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon>restart_alt</mat-icon>
    <span>
      <a routerLink="/lines">Lines</a>
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon>restart_alt</mat-icon>
    <span>
      <a routerLink="/alignment">Alignment</a>
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon>restart_alt</mat-icon>
    <span>
      <a routerLink="/images">Images</a>
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon>restart_alt</mat-icon>
    <span>
      <a routerLink="/shapes">Shapes</a>
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon>restart_alt</mat-icon>
    <span>
      <a routerLink="/animation">Animation</a>
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon>restart_alt</mat-icon>
    <span>
      <a routerLink="/cards">Cards</a>
    </span>
  </button>
</mat-menu>

<div class="App-container">
  <router-outlet/>
</div>


