<swiper-container class="SwiperCardCube-swiperContainer"
                  pagination="true"
                  effect="cube"
                  grab-cursor="true"
                  cube-effect-shadow="true"
                  cube-effect-slide-shadows="true"
                  cube-effect-shadow-offset="20"
                  cube-effect-shadow-scale="0.94"
>
  <swiper-slide class="SwiperCardCube-swiperItem">
    <img class="SwiperCardCube-swiperImage" src=" https://swiperjs.com/demos/images/nature-1.jpg"/>
  </swiper-slide>
  <swiper-slide class="SwiperCardCube-swiperItem">
    <img class="SwiperCardCube-swiperImage" src="https://swiperjs.com/demos/images/nature-2.jpg"/>
  </swiper-slide>
  <swiper-slide class="SwiperCardCube-swiperItem">
    <img class="SwiperCardCube-swiperImage" src="https://swiperjs.com/demos/images/nature-3.jpg"/>
  </swiper-slide>
  <swiper-slide class="SwiperCardCube-swiperItem">
    <img class="SwiperCardCube-swiperImage" src="https://swiperjs.com/demos/images/nature-4.jpg"/>
  </swiper-slide>
</swiper-container>
