.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 98%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
  display: block;
  /* margin-bottom: 0.5rem; */
}
