<div class="weekly-container">

  <section class="weekly-buttons">
    <button mat-flat-button
            (click)="setValueSingleDayEndDate()">single day with end date
    </button>
    <button mat-flat-button
            (click)="setValueMultipleDayEndDate()">multiple days with end date
    </button>
    <button mat-flat-button
            (click)="setValueSingleDayCount()">single day with count
    </button>
    <button mat-flat-button
            (click)="setValueMultipleDayCount()">multiple days with count
    </button>
    <button mat-flat-button
            (click)="setValueWithInterval()">Every other week
    </button>
  </section>

  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput
           [value]="rRuleValue()"
           (change)="valueChanged($event)">
  </mat-form-field>

  <section class="weekly-section">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> Base description from library</mat-card-title>
        <mat-card-subtitle> {{ rRuleBAseDescription() }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </section>

  <section class="weekly-section">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> Formatted description</mat-card-title>
        <mat-card-subtitle> {{ rRuleDescription() }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </section>

  <section class="weekly-section">
    <span>Candidate dates</span>
    <mat-chip-set aria-label="Fish selection">
      @for (instance of instances(); track instance) {
        <mat-chip>{{ instance }}</mat-chip>
      }
    </mat-chip-set>
  </section>
</div>
