<p>Alignment!</p>
<!-- Left Align -->
<p class="skeleton skeleton--left">
  <span class="skeleton__line">Text aligment</span>
  <span class="skeleton__line">Text aligment</span>
  <span class="skeleton__line">Text aligment</span>
  <span class="skeleton__line">Text aligment</span>
</p>

<!-- Center Align -->
<p class="skeleton skeleton--center">
  <span class="skeleton__line">Text aligment</span>
  <span class="skeleton__line">Text aligment</span>
  <span class="skeleton__line">Text aligment</span>
  <span class="skeleton__line">Text aligment</span>
</p>

<!-- Right Align -->
<p class="skeleton skeleton--right">
  <span class="skeleton__line">Text aligment</span>
  <span class="skeleton__line">Text aligment</span>
  <span class="skeleton__line">Text aligment</span>
  <span class="skeleton__line">Text aligment</span>
</p>
