<p>Cards!</p>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 class="skeleton skeleton--lg"></h1>
    </mat-card-title>
    <mat-card-subtitle>
      <p class="skeleton">
        <span class="skeleton__line"></span>
      </p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="skeleton skeleton--left">
      <span class="skeleton__line"></span>
      <span class="skeleton__line"></span>
      <span class="skeleton__line"></span>
      <span class="skeleton__line"></span>
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <p class="skeleton skeleton--right">
      <span class="skeleton__line"></span>
      <span class="skeleton__line"></span>
    </p>
  </mat-card-actions>
</mat-card>
<br>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="skeleton-image skeleton-image--lg skeleton-image--circle"></div>
    </mat-card-title>
    <mat-card-subtitle>
      <div>
        <p class="skeleton">
          <span class="skeleton__line">
            <span class="skeleton--animation"></span>
          </span>
          <span class="skeleton__line">
            <span class="skeleton--animation"></span>
          </span>
          <span class="skeleton__line">
            <span class="skeleton--animation"></span>
          </span>
          <span class="skeleton__line">
            <span class="skeleton--animation"></span>
          </span>
        </p>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <p class="skeleton">
        <span class="skeleton__line">
          <span class="skeleton--animation"></span>
        </span>
        <span class="skeleton__line">
          <span class="skeleton--animation"></span>
        </span>
        <span class="skeleton__line">
          <span class="skeleton--animation"></span>
        </span>
        <span class="skeleton__line">
          <span class="skeleton--animation"></span>
        </span>
      </p>
    </div>
  </mat-card-content>
  <!-- Actions -->
  <mat-card-actions align="end">
    <p class="skeleton skeleton--right">
      <span class="skeleton__line"></span>
      <span class="skeleton__line"></span>
      <span class="skeleton__line"></span>
      <span class="skeleton__line"></span>
    </p>
  </mat-card-actions>
</mat-card>
