<div class="time-field-container">
  <div class="time-field-label">
    <label>{{ label }}</label>
  </div>
  <div class="date-field-input-container">
    <input class="date-field-input"
      matInput
      [type]="fieldType"
      [attr.placeholder]="label"
      [(ngModel)]="value"
      [disabled]="disabled"
      [readOnly]="disabled"
      [min]="min"
      [max]="max"
      (input)="onChange(value)"
      (blur)="onTouched()"
      />
    </div>

    @if (errorRequired()) {
      <div
        class="time-field-error">
        This field is required.
      </div>
    }

    @if (errorCannotBeBeforeMinTime()) {
      <div
        class="time-field-error">
        {{ minTimeErrorLabel }} {{ min }}.
      </div>
    }

    @if (errorCannotBeAfterMaxTime()) {
      <div
        class="time-field-error">
        {{ maxTimeErrorLabel }} {{ max }}.
      </div>
    }

  </div>
