<div class="form-group">
  <label>{{ label }}</label>
  <input
    [type]="fieldType"
    class="form-control"
    [attr.placeholder]="label"
    [(ngModel)]="value"
    [disabled]="disabled"
    [readOnly]="disabled"
    [min]="min"
    [max]="max"
    (input)="onChange(value)"
    (blur)="onTouched()"
  />

  <div *ngIf="errorRequired()" class="text-danger">
    This field is required.
  </div>

  <div *ngIf="errorCannotBeBeforeMinTime()" class="text-danger">
    {{ minTimeErrorLabel }} {{ min }}.
  </div>

  <div *ngIf="errorCannotBeAfterMaxTime()" class="text-danger">
    {{ maxTimeErrorLabel }} {{ max }}.
  </div>

  <br><br><br><br>
</div>
