<div>
  <br/>
  <input
    type="text"
    #val
    (change)="valueChanged(val.value)"
    placeholder="Date Time"/>
</div>

<!--          <mat-form-field>-->
<!--            <mat-label>Date</mat-label>-->
<!--            <input matInput-->
<!--                   [matDatepicker]="picker"-->
<!--                   placeholder="YYYY-MM-DD"-->
<!--                   formControlName="businessDate">-->
<!--            <mat-datepicker-toggle-->
<!--              matSuffix-->
<!--              [for]="picker">-->
<!--            </mat-datepicker-toggle>-->
<!--            <mat-datepicker #picker>-->
<!--            </mat-datepicker>-->
<!--          </mat-form-field>-->
