<h1>JavaScript HTML5 APIs</h1>
<div class="player">
  <!-- <video controls autoplay loop >-->
  <video class="media" controls>
    <source src="assets/media/autumn.mp4"
            type="video/mp4">
    <!-- <source src="" type="video/mpeg">-->
    <p>
      HTML 5 Video is not supported. (Only shows if video is not supported)
      <a href="assets/media/autumn.mp4">Download this video</a>
      instead
    </p>
  </video>

  <div class="player__controls">
    <button type="button" class="player__play">
      <img src="assets/img/icons/play.svg"
           alt="Play pause icon">
    </button>
    <button type="button" class="player__stop">
      <img src="assets/img/icons/stop.svg"
           alt="Stop icon">
    </button>

    <div class="player__progress">
      <input type="range" class="player__timeline" min="0" max="100" value="0">
      <span class="player__duration"></span>
    </div>

    <div class="player__sound">
      <img src="assets/img/icons/volume.svg" class="player__mute" alt="Volume icon">
      <input type="range" class="player__volume" min="0" max="100" value="100">
    </div>
  </div>
</div>
