<div class="app-wrapper">
  <div class="app-container">
    <header class="app-header">
      <mat-toolbar>
        <button mat-icon-button
                routerLink="/"
                aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span routerLink="/" style="cursor: pointer;">RRule template</span>
        <span class="spacer"></span>
        <button mat-icon-button
                routerLink="/theme"
                aria-label="Theme settings">
          <mat-icon>palette</mat-icon>
        </button>
      </mat-toolbar>
    </header>

    <main class="app-main">
      <router-outlet/>
    </main>
  </div>
</div>
