<div class="date-field-container">
  <div class="date-field-label">
    <label>{{ label }}</label>
  </div>
  <div class="date-field-input-container">
    <input class="date-field-input"
      matInput
      [type]="fieldType"
      [attr.placeholder]="label"
      [(ngModel)]="value"
      [disabled]="disabled"
      [readOnly]="disabled"
      [min]="min"
      [max]="max"
      (input)="onChange(value)"
      (blur)="onTouched()"
    />
  </div>

  <div *ngIf="errorRequired()"
       class="date-field-error">
    This field is required.
  </div>

  <div *ngIf="errorCannotBeBeforeMinDate()"
       class="date-field-error">
    {{ minDateErrorLabel }} {{ min }}.
  </div>

  <div *ngIf="errorCannotBeAfterMaxDate()"
       class="date-field-error">
    {{ maxDateErrorLabel }} {{ max }}.
  </div>
</div>
