<h1>Form Fields</h1>

<form [formGroup]="form">

  <app-date-field
    label="Enter Date"
    [required]="true"
    [min]="'2024-01-01'"
    [max]="'2024-07-01'"
    formControlName="date"
  ></app-date-field>
  <!--  <div *ngIf="form.controls['date'].invalid && form.controls['date'].touched">-->
  <!--    <span *ngIf="form.controls['date'].errors?.required"-->
  <!--    >This field is required</span-->
  <!--    >-->
  <!--  </div>-->

  <app-time-field
    label="Enter Time"
    [required]="true"
    [min]="'09:00'"
    [minTimeErrorLabel]="'Time cannot be before min time'"
    [max]="'17:00'"
    formControlName="time"
  ></app-time-field>
  <!--  <div *ngIf="form.controls['time'].invalid && form.controls['time'].touched">-->
  <!--    <span *ngIf="form.controls['time'].errors?.required"-->
  <!--    >This field is required</span-->
  <!--    >-->
  <!--  </div>-->

  <app-date-time-field
    label="Enter Date and 7Time"
    [type]="'datetime-local'"
    formControlName="dateTime"
  ></app-date-time-field>
  <!--  <div *ngIf="form.controls['time'].invalid && form.controls['time'].touched">-->
  <!--    <span *ngIf="form.controls['time'].errors?.required"-->
  <!--    >This field is required</span-->
  <!--    >-->
  <!--  </div>-->


</form>

{{ form.getRawValue() | json }}
<br>
<br><br>
<br>
<br>
Form valid
{{ form.valid | json }}
<br>
<br>
Form touched
{{ form.touched | json }}
<br>
<br>
Date Errors
{{ date.errors | json }}
<br>
<br>
Time Errors
{{ time.errors | json }}
<br>
<br>
Date Time Errors
{{ dateTime.errors | json }}
