<header class="header">
  <div class="header-container">
    <div class="header-logo">
      <img src="../../assets/resources/images/logo.png" alt="" class="logo">
    </div>
    <div class="header-title"><h1>WEB DESIGN BLOG</h1>
    </div>

    <div class="header-menu">
      <span (click)="toggleSideNav()" class="header-menu-icon material-icons">menu</span>
    </div>

<!--    <div class="header-menu" onclick="openMenu(this)">-->
<!--      <div class="bar1"></div>-->
<!--      <div class="bar2"></div>-->
<!--      <div class="bar3"></div>-->
<!--    </div>-->
  </div>
</header>
