<div class="app-container">

  <mat-toolbar color="primary">
    <span>D2 Js graphs</span>
    <div class="app-nav">

      <button mat-fab extended routerLink="/graphs/arc">
        <mat-icon>donut_large</mat-icon>
        Arc
      </button>

      <div class="app-navItem">
        <button mat-fab extended routerLink="/graphs/pie">
          <mat-icon>pie_chart</mat-icon>
          Pie
        </button>
      </div>

      <div class="app-navItem">
        <button mat-fab extended routerLink="/graphs/donut">
          <mat-icon>donut_small</mat-icon>
          Donut
        </button>
      </div>

      <div class="app-navItem">
        <button mat-fab extended routerLink="/graphs/histogram">
          <mat-icon>timeline</mat-icon>
          Histogram
        </button>
      </div>

      <div class="app-navItem">
        <button mat-fab extended routerLink="/graphs/list">
          <mat-icon><span class="material-symbols-outlined">area_chart</span></mat-icon>
          Charts list
        </button>
      </div>

      <div class="app-navItem">
        <button mat-fab extended routerLink="/graphs/barVertical">
          <mat-icon><span class="material-symbols-outlined">bar_chart</span></mat-icon>
          Bar
        </button>
      </div>


    </div>
  </mat-toolbar>

</div>

<router-outlet></router-outlet>



