<div *ngIf="apiLoaded | async">

  <!-- map -->
  <google-map [options]="options" (mapClick)="addMarker($event)">

    <!-- markers -->
    <map-marker #markerElem="mapMarker"
                *ngFor="let markerPosition of markerPositions"
                [position]="markerPosition"
                [options]="markerOptions"
                (mapClick)="openInfoWindow(markerElem, markerPosition)"
                (click)="markerClicked($event)">
    </map-marker>

    <!-- info component -->
    <map-info-window>
      <app-marker [url]="'test'"></app-marker>
      Info Window content
    </map-info-window>
  </google-map>
</div>
