<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>useClass</mat-card-title>
    <mat-card-subtitle>This option tells Angular DI to instantiate a provided class when a dependency is injected
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!--    <p>{{longText}}</p>-->
  </mat-card-content>

  <mat-card-actions>
    <button matMiniFab aria-label="Trigger action" (click)="logMessage()">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
