.component-store-item {
  &-container {
    display: flex;
  }

  &-content {
    padding: 30px 10px;
  }

  &-actions {
    gap: 20px;
    display: flex;
    justify-content: flex-end;
  }
}
