@font-face {
    font-family: 'MyFont';
    src: url('./BigParty4Blue-0f5b.woff2') format('woff2'),
    url('./BigParty4Blue-2575.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./icon.png');
}
