<div class="date-picker">
  <input type="text"
         [formControlName]="'businessSDate'">
  <button (click)="showDatePicker = !showDatePicker">Toggle Date Picker</button>
  <div *ngIf="showDatePicker" class="date-picker-overlay">
    <table>
      <thead>
      <tr>
        <th>Month</th>
        <th>Day</th>
        <th>Year</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of dates">
        <td *ngFor="let date of row">
          <button (click)="selectDate(date)">
            {{ date | date: 'dd' }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
