<swiper-container class="CardSwiperStack-swiperContainer"
                  effect="cards"
                  grab-cursor="true">
  <swiper-slide class="CardSwiperStack-swiperItem">Slide 1</swiper-slide>
  <swiper-slide class="CardSwiperStack-swiperItem">Slide 2</swiper-slide>
  <swiper-slide class="CardSwiperStack-swiperItem">Slide 3</swiper-slide>
  <swiper-slide class="CardSwiperStack-swiperItem">Slide 4</swiper-slide>
  <swiper-slide class="CardSwiperStack-swiperItem">Slide 5</swiper-slide>
  <swiper-slide class="CardSwiperStack-swiperItem">Slide 6</swiper-slide>
  <swiper-slide class="CardSwiperStack-swiperItem">Slide 7</swiper-slide>
  <swiper-slide class="CardSwiperStack-swiperItem">Slide 8</swiper-slide>
  <swiper-slide class="CardSwiperStack-swiperItem">Slide 9</swiper-slide>
</swiper-container>
