<swiper-container class="CardSwiperCoverflow-swiperContainer"
                  pagination="true"
                  effect="coverflow"
                  grab-cursor="true"
                  centered-slides="true"
                  slides-per-view="auto"
                  coverflow-effect-rotate="50"
                  coverflow-effect-stretch="0"
                  coverflow-effect-depth="100"
                  coverflow-effect-modifier="1"
                  coverflow-effect-slide-shadows="true"
>
  <swiper-slide class="CardSwiperCoverflow-swiperItem">
    <img class="CardSwiperCoverflow-swiperImage" src=" https://swiperjs.com/demos/images/nature-1.jpg" />
  </swiper-slide>
  <swiper-slide class="CardSwiperCoverflow-swiperItem">
    <img class="CardSwiperCoverflow-swiperImage" src="https://swiperjs.com/demos/images/nature-2.jpg" />
  </swiper-slide>
  <swiper-slide class="CardSwiperCoverflow-swiperItem">
    <img class="CardSwiperCoverflow-swiperImage" src="https://swiperjs.com/demos/images/nature-3.jpg" />
  </swiper-slide>
  <swiper-slide class="CardSwiperCoverflow-swiperItem">
    <img class="CardSwiperCoverflow-swiperImage" src="https://swiperjs.com/demos/images/nature-4.jpg" />
  </swiper-slide>
  <swiper-slide class="CardSwiperCoverflow-swiperItem">
    <img class="CardSwiperCoverflow-swiperImage" src="https://swiperjs.com/demos/images/nature-5.jpg" />
  </swiper-slide>
  <swiper-slide class="CardSwiperCoverflow-swiperItem">
    <img class="CardSwiperCoverflow-swiperImage" src="https://swiperjs.com/demos/images/nature-6.jpg" />
  </swiper-slide>
  <swiper-slide class="CardSwiperCoverflow-swiperItem">
    <img class="CardSwiperCoverflow-swiperImage" src="https://swiperjs.com/demos/images/nature-7.jpg" />
  </swiper-slide>
  <swiper-slide class="CardSwiperCoverflow-swiperItem">
    <img class="CardSwiperCoverflow-swiperImage" src="https://swiperjs.com/demos/images/nature-8.jpg" />
  </swiper-slide>
  <swiper-slide class="CardSwiperCoverflow-swiperItem">
    <img class="CardSwiperCoverflow-swiperImage" src="https://swiperjs.com/demos/images/nature-9.jpg" />
  </swiper-slide>
</swiper-container>
