<div class="CardSwiper-container">
  <swiper-container class="CardSwiper-swiperContainer"
    speed=1500
    class="mySwiper"
    loop="true"
    navigation="true"
    keyboard="true"
    mousewheel="true"
    css-mode="true"
  >
    <swiper-slide class="CardSwiper-swiperItem">
      <img src="https://picsum.photos/300/150?random=1">
    </swiper-slide>
    <swiper-slide class="CardSwiper-swiperItem">
      <img src="https://picsum.photos/300/150?random=2">
    </swiper-slide>
    <swiper-slide class="CardSwiper-swiperItem">
      <img src="https://picsum.photos/300/150?random=3">
    </swiper-slide>
    <swiper-slide class="CardSwiper-swiperItem">
      <img src="https://picsum.photos/300/150?random=4">
    </swiper-slide>
    <swiper-slide class="CardSwiper-swiperItem">
      <img src="https://picsum.photos/300/150?random=5">
    </swiper-slide>
    <swiper-slide class="CardSwiper-swiperItem">
      <img src="https://picsum.photos/300/150?random=6">
    </swiper-slide>
    <swiper-slide class="CardSwiper-swiperItem">
      <img src="https://picsum.photos/300/150?random=7">
    </swiper-slide>
    <swiper-slide class="CardSwiper-swiperItem">
      <img src="https://picsum.photos/300/150?random=8">
    </swiper-slide>
  </swiper-container>
</div>
