/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  align-self: center;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  margin: 0 80px;
}
