<div class="main-header">
  <mat-toolbar>
    <button mat-icon-button
            class="example-icon"
            aria-label="menu aria label">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular core examples</span>
    <span class="main-spacer"></span>
    <button mat-icon-button
            class="example-icon"
            aria-label="icon aria label">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="main-content-container">
  <app-nav-bar/>
</div>
