<div #myElement
     class="simpleMotion-container">
  Hi
</div>





<!--<button-->
<!--  (click)="animateMyElement()"-->
<!--&gt;Click me-->
<!--</button>-->
<button mat-flat-button
        (click)="animateMyElement()">Basic
</button>
<mat-divider></mat-divider>
<button mat-flat-button
        (click)="animateMyElement()"
        color="primary">Primary
</button>


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    Some description on the cardddddddddddddddddddddddddddddddddd
  </mat-card-content>
</mat-card>
