<div class="projection-container">
  <section class="projection-section">
    <section class="projection-item">
      <h2>Single projection using ng-template</h2>
      <mat-checkbox [(ngModel)]="disableClickableHeader">Disable Clickable header
      </mat-checkbox>
    </section>
    <section class="projection-item">
      <app-projection-card
        [disableClickableHeader]="disableClickableHeader"
        (toggledValue)="toggledValue($event)">
        <p>
          This is the content to be projected within the body of the card.
        </p>
      </app-projection-card>
    </section>
  </section>

  <mat-divider/>

  <section class="projection-section">
    <section class="projection-item">
      <h2>Multiple projection using content placeholders (html tags)</h2>
    </section>
    <section class="projection-item">
      <app-projection-card-multi-selectors>
        <card-header>
          <h3>Header of the card</h3>
        </card-header>
        <card-body>
          <h4>Body of the card projected on body</h4>
        </card-body>
      </app-projection-card-multi-selectors>

    </section>
  </section>

  <mat-divider/>

  <section class="projection-section">
    <section class="projection-item">
      <h2>Multiple projection using content tags</h2>
    </section>
    <section class="projection-item">
      <app-projection-card-multi-named-selector class="projection-card">
        <h3 cardHeader>
          Header of the card
        </h3>
        <span cardBody>
          <h4>Body of the card projected on body</h4>
        </span>
      </app-projection-card-multi-named-selector>

    </section>
  </section>
</div>
