.projection {
  &-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &-section {
    display: flex;
  }

  &-item {
    width: 50%;
    padding: 20px;
  }

  &-header {
    --Projection-card-multi-selectors-color: #37473F;
  }
}
