<div class="date-time-field-container">
  <div class="date-time-field-label">
    <label>{{ label }}</label>
  </div>
  <div class="date-field-input-container">
    <input class="date-field-input"
      matInput
      [type]="fieldType"
      [attr.placeholder]="label"
      [(ngModel)]="value"
      [disabled]="disabled"
      [readOnly]="disabled"
      [min]="min"
      [max]="max"
      (input)="onChange(value)"
      (blur)="onTouched()"
      />
    </div>

    @if (errorRequired()) {
      <div
        class="date-time-field-error">
        This field is required.
      </div>
    }

    @if (errorCannotBeBeforeMinDateTime()) {
      <div
        class="date-time-field-error">
        {{ minDateTimeErrorLabel }} {{ min }}.
      </div>
    }

    @if (errorCannotBeAfterMaxDateTime()) {
      <div
        class="date-time-field-error">
        {{ maxDateTimeErrorLabel }} {{ max }}.
      </div>
    }
  </div>
