<mat-toolbar>
  <button matIconButton
          [matMenuTriggerFor]="menu"
          aria-label="Menu button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'basicSearchInput'">
      <mat-icon>search</mat-icon>
      <span>Basic search</span>
    </button>
    <button mat-menu-item [routerLink]="'starRatingInput'">
      <mat-icon>star_half</mat-icon>
      <span>Star Rating</span>
    </button>
  </mat-menu>

  <span>Template Components</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <a mat-list-item *ngFor="let menu of menus()"
       (click)="drawer.toggle()"
       routerLink="{{menu}}">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>{{menu}}</span>
    </a>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container>

<router-outlet/>
