.app {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
}

.title-container {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-size: 40px;
    margin-top: 20px;
  }
  a {
    font-size: 20px;
  }
}

.app-section {
  //margin: 20px;
}
