.example-container {
  width: 500px;
  height: 360px;
  margin: 10px;
  border: 1px solid #555;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
