<div class="chat-container">
  <input class="chat-input"
         placeholder="Type a message or record voice note"
         [(ngModel)]="message"
         (keyup.enter)="submitMessage($event)">

  <button mat-mini-fab
          aria-label="Example icon button"
          matTooltip="Press to start recording, text will translate after finishing"
          [disabled]="isRecording()"
          (click)="startRecording()">
    <mat-icon>mic</mat-icon>
  </button>

  <button mat-mini-fab
          aria-label="Example icon button"
          matTooltip="Press to stop recording, text will translated"
          [disabled]="!isRecording()"
          (click)="stopRecording()">
    <mat-icon>stop</mat-icon>
  </button>

  <button mat-mini-fab
          aria-label="Example icon button"
          matTooltip="Press to start recording, text will translate after finishing"
          [disabled]="hasMessage()"
  (click)="submitMessage($event)">
    <mat-icon>send</mat-icon>
  </button>
  <!--  <button class="chat-input-icon"-->
  <!--          aria-label="Record voice note"-->
  <!--          (mousedown)="startRecording()"-->
  <!--          (mouseup)="stopRecording()">-->
  <!--    <svg xmlns="http://www.w3.org/2000/svg"-->
  <!--         viewBox="0 0 24 24"-->
  <!--         width="24"-->
  <!--         height="24"-->
  <!--         class="chat__input-icon">-->
  <!--      <path fill="currentColor"-->
  <!--            d="M11.999 14.942c2.001 0 3.531-1.53 3.531-3.531V4.35c0-2.001-1.53-3.531-3.531-3.531S8.469 2.35 8.469 4.35v7.061c0 2.001 1.53 3.531 3.53 3.531zm6.238-3.53c0 3.531-2.942 6.002-6.237 6.002s-6.237-2.471-6.237-6.002H3.761c0 4.001 3.178 7.297 7.061 7.885v3.884h2.354v-3.884c3.884-.588 7.061-3.884 7.061-7.885h-2z"></path>-->
  <!--    </svg>-->
  <!--  </button>-->
</div>

<div class="chat-messages">
  @for (message of messages(); track message) {
    <span>{{ message }}</span>
  }
</div>
