<div cdkDropListGroup>
  <div class="container">
    <h2>To do</h2>

    <div
      id="toDo"
      cdkDropList
      [cdkDropListData]="toDoItems"
      cdkDropListConnectedTo="doing"
      class="list"
      (cdkDropListDropped)="dropItem($event)">
<!--      <div class="box" *ngFor="let item of boardItems" cdkDrag>{{item.title}}</div>-->
      <app-board-item class="box"
                      *ngFor="let item of toDoItems"
                      [boardItem]="item"
                      cdkDrag>
      </app-board-item>
    </div>
  </div>

  <div class="container">
    <h2>Doing</h2>

    <div
      id="doing"
      cdkDropList
      [cdkDropListData]="doingItems"
      cdkDropListConnectedTo="testing"
      class="list"
      (cdkDropListDropped)="dropItem($event)"
    >
<!--      <div class="box" *ngFor="let item of availableItems" cdkDrag>{{item}}</div>-->
      <app-board-item class="box"
                      *ngFor="let item of doingItems"
                      [boardItem]="item"
                      cdkDrag>
      </app-board-item>
    </div>
  </div>

  <div class="container">
    <h2>Test</h2>

    <div
      id="testing"
      cdkDropList
      [cdkDropListData]="testingItems"
      cdkDropListConnectedTo="signOff"
      class="list"
      (cdkDropListDropped)="dropItem($event)"
    >
<!--      <div class="box" *ngFor="let item of soldItems" cdkDrag>{{item}}</div>-->
      <app-board-item class="box"
                      *ngFor="let item of testingItems"
                      [boardItem]="item"
                      cdkDrag>
      </app-board-item>
    </div>
  </div>

  <div class="container">
    <h2>Sign off</h2>

    <div
      id="signOff"
      cdkDropList
      [cdkDropListData]="singOffItems"
      cdkDropListConnectedTo="done"
      class="list"
      (cdkDropListDropped)="dropItem($event)"
    >
<!--      <div class="box" *ngFor="let item of signOffItems" cdkDrag>{{item}}</div>-->
      <app-board-item class="box"
                      *ngFor="let item of singOffItems"
                      [boardItem]="item"
                      cdkDrag>
      </app-board-item>
    </div>
  </div>

  <div class="container">
    <h2>Done</h2>

    <div
      id="done"
      cdkDropList
      [cdkDropListData]="doneItems"
      cdkDropListConnectedTo="toDo"
      class="list"
      (cdkDropListDropped)="dropItem($event)"
    >
<!--      <div class="box" *ngFor="let item of doneItems" cdkDrag>{{item}}</div>-->
      <app-board-item class="box"
                      *ngFor="let item of doneItems"
                      [boardItem]="item"
                      cdkDrag>
      </app-board-item>
    </div>
  </div>
</div>

The values of to do are
<div *ngIf="toDoItems">
  {{toDoItems.length}}
  {{toDoItems}}
</div>

